flax==0.7.0
optax==0.1.7
chex==0.1.82
einops
transformers==4.29.2
datasets==2.13.0
tqdm
ml_collections
wandb
gcsfs
requests
typing-extensions
sentencepiece
tux @ git+https://github.com/lhao499/tux.git
Pillow
ipdb
imageio[ffmpeg]
decord
tiktoken
